.contact {
  padding: 80px 20px;
  text-align: center;
  background-image: url("../assets/bg.webp"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.contact h1 {
  font-size: 40px;
  margin-bottom: 10px;
  color: #eaff00;
  padding: 20px 0 40px;
}

.contact p {
  margin-bottom: 30px;
  color: #ffffff;
  font-size:20px ;
}

.contact-form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: none;
  border-radius: 8px;
  outline: none;
  background: #0f172a90;
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  box-shadow: 0 0 10px #f2ff00;
}

.contact-form button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #000000;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: rgb(255, 0, 0);
  box-shadow: 0 0 15px #d9ff009a;
}
