.footer {
   background-image: url("../assets/bg.webp"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  text-align: center;
  padding: 40px 20px;
  
}

.footer h2 {
  color: #d4ff00;
  margin-bottom: 20px;
}

.footer p {
  color: #cbd5e1;
  margin-bottom: 20px;
}

.footer-links {
  margin-bottom: 20px;
}

.footer-links a {
  margin: 10px 15px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #ff0505;
  text-shadow: 0 0 10px #c8ff00;
}

.copyright {
  font-size: 14px;
  color: #ffffff;
  margin-top: 60px;
}
