.hero{
  display: flex;
  justify-content: space-between;
  padding: 100px 80px;  
  background-image: url("../assets/bg.webp");
  background-repeat: no-repeat ;
 background-position: center;
    background-size: cover;
    width:100%;
    max-width: 1200px;
}

.left{
  color: white;
}

.left h1{
  font-size: 60px;
}

.right img{
  width: 350px;
  height: 270px;
  border-radius: 50%;
}
.typing {
  font-size: 60px;
  font-weight: bold;
  color: rgb(250, 221, 0);

  border-right: 4px solid rgb(255, 0, 0);
  white-space: nowrap;
  overflow: hidden;

  width: 0;
  animation: typing 3s steps(12, end) forwards, blink 0.7s infinite;
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 12ch;
  }
}


@keyframes blink {
  50% {
    border-color: transparent;
  }
}
