*{
    margin: 0%;
    padding: 0%;
}
.nav{
    display:flex;
    background-color: rgb(2, 43, 249);
     background-image: url("../assets/bg.webp");
     background-repeat: no-repeat ;
    background-position: center;
    background-size: cover;
}
.nav img{
    margin: -20px 0px -30px -50px;
    width: 150px;
    margin: 10px;
    
}
.nav ul{
    display: flex;
   
}
li{
    padding: 30px 90px;
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size:  20px;
   font-weight: 700;
}
.nav ul li {
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav ul li:hover {
  color: #00aaff;
  transform: scale(1.2)
}
