*{
    margin: 0%;
    padding: 0%;
}
.nav{
    display:flex;
     background-image: url("../assets/bg.webp");
     background-repeat: no-repeat ;
    background-position: center;
    background-size: cover;
}
.nav img{
    width: 150px;
    margin: 10px;
    
}
.nav ul{
    display: flex;
    margin-top: 10px;
   
}
li{
    padding: 30px 70px;
    list-style: none;
}
button{
    padding: 20px 30px;
      background :transparent;
      color: white;
      margin: 20px;
       font-size:  15px;
   font-weight: 700;
}
button:hover{
    transform: scale(1.1);
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size:  20px;
   font-weight: 700;
}
.nav ul li {
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav ul li:hover {
  color: #00aaff;
  transform: scale(1.2)
}
