.projects{
  padding: 80px;
    background-image: url("../assets/bg.webp");
  background-repeat: no-repeat ;
 background-position: center;
    background-size: cover;
  overflow: hidden;
}
.projects-title{
  font-size: 40px;
  margin-bottom: 50px;
  color: #eeff00;
  text-align: center;
}

.projects-container{
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  max-width: 1200px;
  margin: auto;
}

.project-card{
  background-image: url("../assets/bg.webp");
  border-radius: 15px;
  width: 300px;
  padding: 20px;
  transition: 0.3s;
}

.project-card img{
  width: 100%;
  border-radius: 10px;
}

.project-card h2{
  margin-top: 25px;
  color: white;
  padding: 20px;
  text-align: center;
}

.project-card p{
  font-size: 14px;
  color: #eeff00;
  text-align: center;
}

.project-card:hover{
  transform: translateY(-10px);
  box-shadow: 0 0 20px #00f7ff;
}

.project-buttons{
  margin-top: 15px;
  text-align: center;
}

.project-buttons button{
  margin: 5px;
  padding: 8px 15px;
  border: none;
  background: #000000ef;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 5px;
}

.project-buttons button:hover{
  background: rgb(207, 0, 0);
}

