.skills{
  padding: 80px;
    background-image: url("../assets/bg.webp");
  background-repeat: no-repeat ;
 background-position: center;
    background-size: cover;
  overflow: hidden;
  text-align: center;
}

.skills h1{
  color: rgb(217, 255, 0);
  font-size: 40px;
  margin-bottom: 80px;
}

.slider{
  width: 100%;
  overflow: hidden;
}


.slide-track{
  display: flex;
  width: max-content;
  gap: 50px;
}


.slide{
  flex-shrink: 0;
}

.slide img{
  width: 80px;
  height: 80px;
  object-fit: contain;
  transition: transform 0.3s ease;
  
}

/* hover effect */
.slide img:hover{
  transform: scale(1.3);
  filter: drop-shadow(0 0 10px #00f7ff);
}
